<%= form_for(@micropost) do |f| %>
  <script src="app/assets/javascripts/post_char_counter.js"></script>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...140 symbol maximum" %>
  <div> Characters left: <span id="char-count">140</span></div>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
